#container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

h3, h2 {
  margin-top: 7rem;
  width: 100%;
  text-align: center;
  color: black;
}