ion-title {
  text-align: center;
}

.content {
  height: 100%;
  background-color: azure;
}

.in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.full-width {
  width: 95%;
}

.form-field {
  margin-top: 2rem;
}

.table {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-top: 1rem;
  width: 100%;
}